{
    "root": true,
    "env": {
        "es6": true,
        "node": true,
        "browser": false
    },
    "plugins": [
        "import"
    ],
    "extends": [
        "@hckrnews/eslint-config"
    ],
    "rules": {
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "always"
            }
        ],
        "max-len": [
            "error",
            {
                "code": 120,
                "comments": 120,
                "tabWidth": 4
            }
        ]
    },
    "parserOptions": {
        "sourceType": "module",
        "parser": "@babel/eslint-parser",
        "ecmaVersion": 2023,
        "babelOptions": {
            "configFile": "./babel.config.cjs"
        }
    },
    "overrides": [
        {
            "files": [
                "**/__tests__/*.{j,t}s?(x)",
                "**/tests/unit/**/*.spec.{j,t}s?(x)"
            ],
            "env": {
                "jest": true
            }
        }
    ]
}
